<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/nav', { user: user }) %>
    <main class="container">
        <header>
            <h1>:(</h1>
            <h2>Page was not found (404)</h2>
            <p style="margin-top:.25rem;" class="muted">Page was not able to be found :/</p>
        </header>
        <section>
            <ul class="list" style="margin-top:1rem;">
            </ul>
        </section>
    </main>
    

</body>
</html>