<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/publix.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="content">
        <div class="seperator">
            <div class="info">
                <h1>Authly</h1>
                <p>Built and trusted by <a href="https://AustinSDK.me">AustinSDK</a>, <a href="https://auth.AustinSDK.me">Authly</a> is a secure solution to all your OAuth problems with customers!</p>
                <h3 class="blue">
                    Features
                </h3>
                <li>
                    <ol>1 account, infinite possibilities</ol>
                    <ol>Secure OAuth system for any developers or businesses!</ol>
                    <ol>Trusted by developers world wide!</ol>
                </li>
            </div>
            <div class="photo"></div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>