<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User settings</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/settings.css">
    <script>
        logout = async (id) => {
            try {
                const response = await fetch('/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ tokenId: id })
                });

                const result = await response.json();
                
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Error: ' + result.message);
                }
            } catch (error) {
                console.error('Logout error:', error);
                alert('An error occurred while logging out');
            }
        }
    </script>
</head>
<body>
    <%- include('partials/nav', { user: user }) %>
    <main class="container">
        <h1>logged in tokens</h1>
        <% tokens.forEach(token => { %>
            <p class="token">
                <% if (token.token === user.token) { %>
                    <span class="info" title="current-device">CD</span>
                <% } %>
                <span class="id info" title="id">[<%= token.id %>]</span>
                <span class="timestamp info" title="time-stamp">[<%= String(token.time_stamp).split(" ")[0] %>]</span>
                - <a href="#" onclick="logout(<%= token.id %>)">Logout session</a>
            </p>
        <% }) %>
    </main>
</body>
</html>