<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User settings</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>logged in tokens</h1>
    <p>
        <span class="cdevice">(Current device)</span>
        <span class="id">[1111]</span>
        <span class="timestamp">[8/31/25]</span>
        - <a href="#">Logout session</a>
</body>
</html>