.seperator{ // splits the page into 2 sides!!!!!!11111

}
div.home{
    background-image: url("/public/hackathon.webp"); // Background of the 2nd side
    width: 100%;
}
div.content{
    height: 100vh;
}