// CSS for the pages that are freely avaliable without login
@import url("https://cdn.jsdelivr.net/gh/Null-Austin/pb-assets@refs/heads/main/PhantomSans-stylesheet.css");

body{
    font-family: "Phantom Sans 0.7";
}
body,html{
    margin: 0;
    padding: 0;
}